<div class="p-5 pt-0 text-center  rounded-3">

    <div class="card">
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h4 class="control-label">Adicionar novo procedimento:</h4>
                        </div>
                        <div class="col-md-4 d-flex align-items-end justify-content-end">
                            <button class="btn btn-vermelho-escuro"> + Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>

            <hr>
            <div class="row">
                <div class="col-md-6">
                    <label for="cliente" class="form-label">Descrição:</label>
                    <input type="text" id="cliente" class="form-control">
                </div>

                <div class="col-md-3">
                    <label for="valor" class="form-label">Valor:</label>
                    <input id="valor" class="form-control" type="number">
                </div>
            </div>
        </div>
    </div>
</div>