<div class="p-5 pt-0 text-center  rounded-3">

    <div class="card">
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h4 class="control-label">Adicionar atendimento à agenda:</h4>
                        </div>
                        <div class="col-md-4 d-flex align-items-end justify-content-end">
                            <button class="btn btn-vermelho-escuro"> + Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>

            <hr>
            <div class="row">
                <div class="col-md-6">
                    <label for="cliente" class="form-label">Cliente:</label>
                    <input type="text" id="cliente" class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="procedimento" class="form-label">Procedimento:</label>
                    <select id="procedimento" class="form-select">
                        <option></option>
                        <option>Corte</option>
                        <option>Corte</option>
                        <option>Barba</option>
                        <option>Corte/Barba</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="data" class="form-label">Data:</label>
                    <input type="datetime-local" id="data" class="form-control" value="2025-12-31T12:00">
                </div>
            </div>
        </div>
    </div>
</div>