<div class="p-5 pt-0 text-center  rounded-3">

    <div class="card">
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Selecione a data para visualizar os atendimentos:</label>
                                <div class="input-group">
                                    <input type="date" class="form-control" value="2025-05-29">
                                    <button class="btn btn-vermelho-escuro" type="button">O</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex align-items-end justify-content-end">
                            <a  [routerLink]="['/adicionar-agendamento']" routerLinkActive="router-link-active"  class="btn btn-vermelho-escuro">+ Adicionar</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Procedimento</th>
                        <th scope="col"> Horário</th>
                        <th scope="col">Profissional</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">1</th>
                        <td>Pedro</td>
                        <td>Corte</td>
                        <td>10:30</td>
                        <td>Luis</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Caio</td>
                        <td>Barba</td>
                        <td>11:00</td>
                        <td>Marcelo</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Lucas</td>
                        <td>Cabelo/Barba</td>
                        <td>10:45</td>
                        <td>Lucas</td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>---</td>
                        <td>---</td>
                        <td>--:--</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>---</td>
                        <td>---</td>
                        <td>--:--</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>---</td>
                        <td>---</td>
                        <td>--:--</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>---</td>
                        <td>---</td>
                        <td>--:--</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>---</td>
                        <td>---</td>
                        <td>--:--</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>---</td>
                        <td>---</td>
                        <td>--:--</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>---</td>
                        <td>---</td>
                        <td>--:--</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>---</td>
                        <td>---</td>
                        <td>--:--</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>---</td>
                        <td>---</td>
                        <td>--:--</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>---</td>
                        <td>---</td>
                        <td>--:--</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>---</td>
                        <td>---</td>
                        <td>--:--</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>---</td>
                        <td>---</td>
                        <td>--:--</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>---</td>
                        <td>---</td>
                        <td>--:--</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>---</td>
                        <td>---</td>
                        <td>--:--</td>
                        <td>---</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>